In [43]:
import pandas as pd

train_df = pd.read_csv('../data/train.csv', encoding='utf-8')
test_df = pd.read_csv('../data/test.csv', encoding='utf-8')

In [45]:
train_df.head()

,신고번호,신고일자,통관지세관부호,신고인부호,수입자부호,해외거래처부호,특송업체부호,수입통관계획코드,수입신고구분코드,수입거래구분코드,...,과세가격원화금액,운송수단유형코드,반입보세구역부호,HS10단위부호,적출국가코드,원산지국가코드,관세율구분코드,관세율,우범여부,핵심적발
0,37453,2020-01-01,40,10UUA,435E04J,CFLCEFM,NaN,C,A,15,...,1.207812e+04,40,4077180,4202999000,CN,CN,A,8.0,0,0
1,150339,2020-01-01,20,7E3BD,1NTJ7F6,NaN,NaN,C,B,15,...,5.938688e+05,10,4002001,9503003919,CN,CN,A,8.0,0,0
2,55710,2020-01-01,10,QHZ00,DGHPNRA,ZEXKR7K,8W5SEL,F,B,94,...,6.238490e+04,40,15002001,8708290000,CN,CN,FCN1,3.2,1,2
3,413154,2020-01-01,20,SZIVC,G85A4OI,WD62ULK,0X6YQV,C,B,15,...,4.321373e+06,10,4002001,2933699099,CN,CN,FCN1,0.0,0,0
4,223511,2020-01-01,40,BU7II,9I00BFP,Q22MMTW,NaN,F,B,15,...,1.212105e+06,10,2002079,6205200000,CN,CN,A,13.0,0,0

In [46]:
test_df.head()

,신고번호,신고일자,통관지세관부호,신고인부호,수입자부호,해외거래처부호,특송업체부호,수입통관계획코드,수입신고구분코드,수입거래구분코드,...,징수형태코드,신고중량(KG),과세가격원화금액,운송수단유형코드,반입보세구역부호,HS10단위부호,적출국가코드,원산지국가코드,관세율구분코드,관세율
0,982834,2020-11-23,20,KWGEB,B7FVPTT,0TSA7K7,NaN,F,B,15,...,11,3731.9,2.755287e+06,40,3012343,712909000,US,US,A,27.0
1,828961,2020-11-23,40,6KGOC,5O4D6XE,NaN,NaN,E,B,94,...,11,6406.5,8.517864e+05,40,4077106,9703001000,US,US,A,0.0
2,522066,2020-11-23,40,F8UY6,X71K5VO,NaN,NaN,C,B,11,...,11,5824.9,6.532926e+04,40,4002001,2106909099,US,US,A,8.0
3,999547,2020-11-23,16,IK9DK,VOA8M3S,NaN,NaN,C,B,11,...,11,3798.3,1.028587e+06,40,2011007,1207999000,US,US,A,3.0
4,919320,2020-11-23,10,R716N,205JY8P,NaN,NaN,C,B,11,...,11,3795.7,1.677178e+06,40,1011182,8711201000,VN,VN,FVN1,0.0

In [6]:
train_df.isnull().sum()

신고번호            0
신고일자            0
통관지세관부호         0
신고인부호           0
수입자부호           0
해외거래처부호     26653
특송업체부호      59832
수입통관계획코드        0
수입신고구분코드        0
수입거래구분코드        0
수입종류코드          0
징수형태코드          0
신고중량(KG)        0
과세가격원화금액        0
운송수단유형코드        0
반입보세구역부호        0
HS10단위부호        0
적출국가코드          0
원산지국가코드         0
관세율구분코드         0
관세율             0
우범여부            0
핵심적발            0
dtype: int64

In [7]:
train_df["우범여부"].value_counts()

0    69836
1    19783
Name: 우범여부, dtype: int64

In [8]:
train_df["핵심적발"].value_counts()

# 0:우범x, 1:우범-일반, 2:우범-핵심

0    69836
2    10224
1     9559
Name: 핵심적발, dtype: int64

랜덤포레스트 모델 (의사결정트리+앙상블기법)

In [19]:
import re
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import mglearn

In [49]:
def data_preprocessing(df):
    preprocessing_df = df.copy()
    preprocessing_df['신고일자'] = list(map(lambda x : re.sub('[^0-9]+', '', x), preprocessing_df['신고일자']))
    preprocessing_df = preprocessing_df.drop(columns=['신고인부호', '수입자부호', '수입통관계획코드', '수입신고구분코드', '해외거래처부호', '특송업체부호'])

In [50]:
# def get_dataset():
#     X = train_df1.iloc[:, :-2]
#     X['신고일자'] = list(map(lambda x : re.sub('[^0-9]+', '', x), X['신고일자']))
#     X = X.drop(columns=['신고인부호', '수입자부호', '해외거래처부호', '특송업체부호', '관세율구분코드', '적출국가코드', '원산지국가코드', '수입통관계획코드', '수입신고구분코드'])
#     y = train_df1.iloc[:, -1:]
    
#     X_train, X_test , y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=1)
#     return X_train, X_test, y_train, y_test

In [115]:
X = train_df1.iloc[:, :-2]
X['신고일자'] = list(map(lambda x : re.sub('[^0-9]+', '', x), X['신고일자']))
X = X.drop(columns=['신고인부호', '수입자부호', '해외거래처부호', '특송업체부호', '관세율구분코드', '적출국가코드', '원산지국가코드', '수입통관계획코드', '수입신고구분코드'])
y = train_df1.iloc[:, -1:]

X_train, X_test , y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=1)

In [51]:
# X_train, X_test, y_train, y_test = get_dataset()

In [56]:
X_train

,신고번호,신고일자,통관지세관부호,수입거래구분코드,수입종류코드,징수형태코드,신고중량(KG),과세가격원화금액,운송수단유형코드,반입보세구역부호,HS10단위부호,관세율
30792,47853847,20200408,10,11,21,11,2577.3,5.495408e+03,10,2010724,7326909000,8.0
88685,23208276,20201119,40,11,21,11,49768.9,1.214625e+07,10,2012016,6911109000,8.0
67382,19292829,20200824,40,87,21,18,53.2,3.677225e+05,40,2010401,8703239010,0.0
36697,15705971,20200504,20,15,21,11,5012.6,1.866106e+06,10,2006026,4420902090,8.0
67014,90324870,20200821,40,91,21,11,6445.2,8.431741e+07,40,4076003,8541501000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
77358,67278336,20201006,12,11,21,11,7262.9,3.126550e+06,90,4077008,3910009090,6.5
49658,82280173,20200619,40,11,21,11,2094.9,3.668205e+04,30,14002010,5705000000,10.0
40977,80931006,20200518,40,96,21,0,319.5,7.186448e+05,10,2106003,3822002099,0.0
28440,85933523,20200331,13,94,21,14,2429.3,3.041193e+05,40,4077010,4017002000,0.0
31391,19499088,20200410,40,15,21,11,2784.8,1.358507e+04,30,4076003,9401809000,0.0

In [46]:
# 신고인부호 = list(set(X_train['신고인부호']))
# 신고인부호

In [29]:
# encoder = LabelEncoder()
# encoder.fit(신고인부호)
# labels = encoder.transform(신고인부호)
# print('인코딩 변환값:',labels)

인코딩 변환값: [ 42 730 817 362 184 317 201 804 698 942 653 849 162 213  62 812 434 793
  83 292 854  21 270  57 540 344 902 908 250 394 193 376 888 635 646 846
 599 532 139 388 351 283 848 629 415 146 814 526 443 947 631 677 513 583
  89 431 231 370 789 738 943 525 714 785 411 925 749 419 636 302 884 254
 416 876 670 861 600 739 180  97 469 853 616 348   3  17 246 920 649 607
 847 218 185 142 106 901 701 393 440 490 675 308 750 433 903  92 261 602
 637 273 384 396 905  10 791  22 704  80 606 634 420 438  48 169 784 622
 395 941 844 581 456 444  82 200 911 197 398 439 788 310 916 386 129 535
 669 161 364 311 277 221 515 731 449 258 357 840 645  77 808 278 542 554
 195 235 676 719  18 350 751 556 914 729 165 187 356 652 491 877 874 735
 811 626 563 153 918 605 667 120 104 715 295 118 688 368 422 693 337 538
 480 780 945 570 782 611  79 369 313 824 921 333 552 944 170 807 293  87
 658 482 728 450  70 479 856 702 724 421  20 825 551 290 872 650 167 778
 175 773 291 813  44 109 328 103 530 128 267 546  46 178  35 624 141  96
 894 835 612 741 358  34 657 564   8 468 927 371 642 114  55 194 527 716
  67  88   9 763 863 274  31 549 173 466 435 228 696  59 765 892 190 830
 711 779 852 891 519 594 755 585 249  50 255 760 276 470 821 810 764  78
 359 561 112 909 742 342 543 240 237 352 638 343 732  49  95 805 377 489
 266  74 689 578 673 721 230 823 127 385  13 709 557 720 206 168 770 753
 725 937 380 262  65 767  99 115 651 447 119  11 144  85 758 666 360 174
 674  90 802 529 125 222 703 869 403 126 744 478 171 457  61 678 522 163
 500 192 726  72 617 275 569 630   6 496 697 713 334 870 910 124 575 628
 655 580 898 609 567 656 186 429  40 476 843  98  43 736 639 796 627 196
 400 137 534 743 932 686 414 900 107 217  39 503 452 390 523 792 862 387
 595 890 623 300 336 148 150 204 191 777 809 608 871 199 795 643 508 521
 332 149 836 851 939  64 404 833 769 488 314  26 531  29 412 327 425 771
 111 826 922 593 695 621 801 558 774 226  41 379 298 590 102 335 372 269
 933 692 680 172 113 209 555  75 353 733 613 203 516 803 860 690 671 524
 648  52 309 405 238 790 867 318  30 745 756 265 323 243 151 938 140 632
 659 781 501 559 389 572 223 284 727 465 130 831  28 108 285 408 361 418
 904 553 820 679 321 506  56 330 640 312 619 378 339 475 775 819   1 301
 159 699 110 296 375 462 188 615 913 794  47 460 672 712 121 495   4 576
 934 286 373 374 504 303 562 455 601 214 748 565 160  66 100 618 587 458
  60 734 879 499 252 349 694 752 143  36 229 467 176 610 232 838  71 189
 912 783  58  54 577 164 603 251 654   0 473 437 509 208 597 131 136 315
 492 683 363 367 198 946 550 365 691 471 494 417 560 427 242  25 664 212
 392 899 868 453 307 883 864 202 381 873 244 855 895 533 850 268  86  76
  73 399 464 441 279 483 928 319 259 407 117 661 245 287 263 324 582 828
 474 568 625 845 507 459 248 220   2 448 936 665 477  45 498 571 233 493
 588 647 316 397 929 299 122 579 340 596 589 858 383 133 889 430 154 505
 768  12 935 304 919 510 502 446 445 887 930 707 341 539 241 897 682 147
 815 718 907 382 517 641 355 706  32  69 839  91 426 306 177 320 797 256
 257   5 346 211 865 247 116 271 391 747 280 740  27 123 574 511 857  94
 893 598 297 216 708 800 487 822  33 461 896 776 832 181 668 451  24  68
 260 885 859 931  19 281 179 401 406 687 660 766 548 152 573 586 906 684
 537 541 347 591 799 428 514 410 681 662  23  63 806 423  38 485 481 685
 786 544 366 842 322 710 827  16 135  14 207 717 798 436  81 518 878 940
 723 923 294 486 816 305 866 424  37 737 183  53 331 145 182 759 210 757
   7 520 787 829 746 236 512 225 484 282 326 413 253 239 915 841 138 837
 289 620 772 166  51 584 227 880 604 215 834 325 633 722 224 264 132 818
 402 329 409 472 219  93 497 156 463  84 705 134 924  15 926 528 157 536
 234 754 875 644 761 101 566 881 762 155 205 288 442 105 545 432 345 917
 547 592 882 454 354 614 272 158 663 700 338 886]

In [30]:
# print('인코딩 클래스:',encoder.classes_)

인코딩 클래스: ['00553' '00Z2U' '02OP9' '03IV0' '04PCF' '0A0V6' '0BCW8' '0BW53' '0GUZD'
 '0GY99' '0GZ27' '0HBED' '0HQQA' '0HQV0' '0IBYN' '0QN4A' '0QRQ8' '0R8LM'
 '0RA0G' '0SDJE' '0T4OU' '0T7H9' '0TSUK' '0UD1R' '0UYR6' '0X1CO' '0ZK7G'
 '10W4X' '112BI' '12XQH' '14AJ4' '14MCZ' '153NL' '18XPW' '1BWI9' '1EH3Z'
 '1HM4B' '1HUE4' '1IKCX' '1QC72' '1RC31' '1S4VL' '1T4SL' '1T62E' '1V8KP'
 '1W5SH' '1WCZK' '1XNUV' '1XQ5R' '20QAN' '20ZVA' '21X6T' '24U3F' '287N9'
 '2BW8U' '2CY59' '2DOHT' '2EO6C' '2GKZT' '2HAU3' '2HFRM' '2IRWC' '2JA5W'
 '2O5A2' '2P7HO' '2RRLE' '2RRV1' '2SE2P' '2SGER' '2T8ID' '2VC4X' '2VH3Z'
 '2ZRHS' '305K5' '30Q2U' '31JEH' '343A9' '346YV' '355TQ' '35U6G' '379YD'
 '382MF' '38T53' '3A8I7' '3AZ57' '3DZ0U' '3E02B' '3GXTX' '3GYLK' '3HJNU'
 '3HQJ1' '3HYIL' '3I2L1' '3MI2K' '3NUHD' '3NVGH' '3OA23' '3P2Q6' '3P56A'
 '3R276' '3RQEU' '3RXQA' '3U5HN' '3V1GM' '3VAS0' '3YNH8' '3ZADI' '4310N'
 '43SM9' '466A0' '48BVY' '4A4CW' '4AQVL' '4BKQH' '4D26Q' '4DNI3' '4GV6J'
 '4IQ6O' '4J1FC' '4JDJE' '4MC8T' '4NDGH' '4PAY7' '4PC3W' '4QIDA' '4R4P7'
 '4RDKK' '4RYF8' '4TUUB' '4TYA6' '4U9GW' '4WDK6' '4ZKBC' '50BZJ' '51AGR'
 '523PK' '53W8N' '54O8A' '553IX' '55K0I' '5CBJ1' '5CQSJ' '5F3BP' '5HZ6O'
 '5ICVZ' '5JKY8' '5JLK4' '5KH06' '5ML6C' '5MQ8P' '5O6BE' '5PMW1' '5PUTE'
 '5QFOG' '5QZXT' '5SDDJ' '5SHW6' '5UIGY' '5VWC1' '5W2CL' '60ANS' '613ET'
 '61KA7' '62P2N' '67GHO' '686G4' '68YOJ' '6C8WI' '6CIQZ' '6CU2Z' '6E1FQ'
 '6FNEZ' '6GGTB' '6GOBW' '6M088' '6MIM6' '6OALF' '6OFLJ' '6PRVJ' '6VBCB'
 '6WN08' '6YR8M' '6YV1J' '72WV3' '75CN5' '75CY7' '75VNU' '77B9J' '77FIJ'
 '77RZP' '7A36S' '7BBBV' '7BOPY' '7C4EF' '7EWOF' '7HY1S' '7HYKA' '7I1CR'
 '7JEMA' '7NF4S' '7OGVO' '7OKD7' '7PGZO' '7PIDU' '7Q31W' '7QFMD' '7SCQU'
 '7SDT3' '7TNHP' '7UO58' '7VB09' '7YSZ6' '7Z767' '7ZNW7' '7ZVN1' '82RO1'
 '83MX4' '87UTY' '8BX8X' '8DSPT' '8F38M' '8IZ83' '8J2WU' '8J98G' '8JXLF'
 '8L174' '8LF89' '8OK5B' '8QRWX' '8SQNH' '8VN5C' '8WH99' '90DJS' '91FBY'
 '94LQ8' '961XR' '9654A' '9AYQ5' '9AZ7V' '9BGZO' '9D5W2' '9DEBF' '9DGTG'
 '9J612' '9JPHI' '9LPRK' '9MVCS' '9N2IC' '9OPHD' '9PW1G' '9RWN3' '9SOJQ'
 '9T7C3' '9TJBD' 'A22TO' 'A279E' 'A3V0V' 'A49KW' 'A69J2' 'A6XM8' 'A8MKH'
 'A98Y0' 'ABSEF' 'AC4E3' 'ACSG4' 'AGA0C' 'AHYDS' 'AK769' 'AMCPC' 'AMMMV'
 'ANT1X' 'APE4W' 'AW8EE' 'AYO13' 'AZUAS' 'B0J66' 'B1LIZ' 'B1SY9' 'B2MTG'
 'B3ORF' 'B51VN' 'B5NV0' 'B6DWP' 'B6F38' 'B8K9G' 'BCBEQ' 'BG6RU' 'BI18S'
 'BIAUJ' 'BJ9LS' 'BKP9I' 'BM0F9' 'BN8UO' 'BOMUQ' 'BOY60' 'BPRGI' 'BQT4U'
 'BR909' 'BRX0U' 'BT2D9' 'BTMNQ' 'BUEOD' 'BUP6D' 'BW5G6' 'BWQQ5' 'BY3LF'
 'C0MFE' 'C2VWT' 'C4AK2' 'C78HP' 'C7IKN' 'C80LG' 'C8OES' 'CAG89' 'CEMEV'
 'CFV3T' 'CGMT6' 'CHR2D' 'CHT9J' 'CJ22Z' 'CJIO0' 'CK8T3' 'CKB89' 'CMRT5'
 'CP6L4' 'CPR0T' 'CRS76' 'CRX56' 'CTI15' 'CVR74' 'CYRL1' 'D067B' 'D1AX1'
 'D2LHR' 'D3N1J' 'D3UN5' 'D4R20' 'D5NEK' 'D6BIR' 'D6TP1' 'D7WDV' 'D85Y4'
 'D8R4L' 'D94QZ' 'DB524' 'DDB6X' 'DDY4M' 'DETCJ' 'DGJGT' 'DGKGI' 'DHY9L'
 'DI8E8' 'DIOSA' 'DIXQI' 'DLTR3' 'DLZME' 'DMBC5' 'DMJ7I' 'DNI8D' 'DNU3C'
 'DQ1BG' 'DQXOK' 'DR3LD' 'DRPY2' 'DS5R2' 'DVJNA' 'DWTCH' 'DXDZ6' 'DYD7K'
 'DYTEW' 'DZGQU' 'E0VOT' 'E3L4R' 'E40WA' 'E46IB' 'E7QGV' 'E8BFQ' 'E8XJW'
 'E8YHL' 'E98W3' 'E9B2B' 'E9RLO' 'EBOZT' 'ECLL6' 'ECXJX' 'EDOTP' 'EEG45'
 'EKZX5' 'EM01D' 'EM8IO' 'EU4XI' 'EVB49' 'EWOS8' 'EX3CM' 'EYIUE' 'EZ3NW'
 'F17JT' 'F2VBS' 'F4O3C' 'F57Z2' 'F5I8H' 'F6BJB' 'F8KM3' 'FC1EL' 'FCS2Y'
 'FCTVN' 'FHV72' 'FIVJ3' 'FKIIH' 'FKMPG' 'FLJ0F' 'FLZF8' 'FM6F0' 'FO600'
 'FOG72' 'FQ4HT' 'FQSF7' 'FRICO' 'FT7E6' 'FTNSC' 'FTP50' 'FWMFL' 'FY4Z0'
 'FYQXV' 'FZPMO' 'G00UY' 'G1NYE' 'G1Z5D' 'G6ECH' 'G6UC1' 'G76KA' 'G9RSH'
 'GDU1G' 'GFI61' 'GGPXB' 'GGSXG' 'GICHD' 'GJD0J' 'GJF4V' 'GKKTL' 'GKLFS'
 'GLQYV' 'GNEHQ' 'GSQQ5' 'GUC76' 'GXAPH' 'GZDYY' 'H0DT9' 'H0MHO' 'H151H'
 'H1AWQ' 'H2C1M' 'H2IMQ' 'H4MQI' 'H5844' 'H7449' 'H7U0M' 'H7UWV' 'H8A7U'
 'H92TS' 'H9J0W' 'H9N13' 'HBAR2' 'HCDUO' 'HD09L' 'HE7J7' 'HJXRX' 'HKV4S'
 'HMTTT' 'HOAFA' 'HOSTX' 'HSVSZ' 'HT1V7' 'HT5HQ' 'HU850' 'HV54L' 'HVUXE'
 'HVZFP' 'HWIQ4' 'HY5FQ' 'HZFJC' 'I2ECP' 'I5IKF' 'I5ZVI' 'I8LVU' 'IA4MI'
 'IBBKV' 'IBFGF' 'IBMY2' 'ICDM1' 'ICV60' 'IEV8A' 'IF4OH' 'IG71U' 'II96Z'
 'IJRXR' 'IK9FG' 'IKQRS' 'IM60R' 'IM9CB' 'IPYSD' 'IR418' 'IRJQL' 'IS7N2'
 'ISCV2' 'ISON5' 'ISTI7' 'IUBO7' 'IV82L' 'IW4V5' 'IYVP0' 'IYW5W' 'IZ94R'
 'J084R' 'J11LB' 'J29PQ' 'J3ECJ' 'J7KHG' 'J9AJI' 'J9I14' 'J9SYX' 'JCC3S'
 'JCOIV' 'JD8UQ' 'JE20X' 'JED97' 'JF736' 'JG8UZ' 'JM4OV' 'JMTO5' 'JNFP0'
 'JQ752' 'JSS5O' 'JV08P' 'JVF1M' 'JXMQS' 'JYONR' 'JYVEM' 'JZQPB' 'K0GGU'
 'K1SVA' 'K2QZ9' 'K37DU' 'K39SQ' 'K7F9D' 'K7T5T' 'KCDWS' 'KCFGM' 'KFCKA'
 'KGRFC' 'KJDUX' 'KJXST' 'KKUWY' 'KL5ZL' 'KNN5K' 'KPMXW' 'KSHND' 'KVYEC'
 'KWHWU' 'KYVG6' 'L1XO4' 'L5V3R' 'L610X' 'L9DLC' 'LA8ZT' 'LBK5X' 'LBO6X'
 'LBVKU' 'LDPYO' 'LDS24' 'LDZ42' 'LE58B' 'LFNZB' 'LG083' 'LHHV6' 'LHVGG'
 'LJBJD' 'LJYIU' 'LLSVY' 'LNQ2Z' 'LNXE0' 'LOR4J' 'LR85M' 'LRZ5K' 'LTF34'
 'LVDWT' 'LW9L1' 'LWA4Z' 'LWHHB' 'LWJ1P' 'LYE90' 'LZ9CD' 'M00BP' 'M26RC'
 'M5JM5' 'M7DXJ' 'M7H00' 'M7JO0' 'M90LO' 'M9SYU' 'M9Y2R' 'MC7R7' 'MD57F'
 'MELHS' 'MEP0N' 'MFVGQ' 'MMMYT' 'MNWYW' 'MOWMT' 'MQI16' 'MSNEW' 'MSWFH'
 'MTAIL' 'MTEVW' 'MW7G3' 'MWG07' 'MXQ80' 'N0Z3F' 'N1THD' 'N26S4' 'N2ABI'
 'N2F35' 'N2J8U' 'N2SA0' 'N3HYV' 'N4LNE' 'N4SM8' 'N5PY5' 'N73AS' 'N8368'
 'N8BH0' 'N8ZDA' 'N9OEJ' 'NAKN7' 'NB03R' 'NG5UD' 'NG658' 'NH6X4' 'NHQR6'
 'NI6W3' 'NJMTL' 'NMCGR' 'NMVON' 'NOI1G' 'NPVML' 'NUFMK' 'NVL6D' 'NVUZ3'
 'NX7FG' 'NXSLV' 'NXVPO' 'NYLAD' 'NZVRR' 'O0HLF' 'O1TI8' 'O3I4E' 'O7ANB'
 'O7RYS' 'O9G2O' 'OCZNZ' 'OEFSU' 'OGV2F' 'OGZ8H' 'OGZCI' 'OQ53P' 'OR1OC'
 'OR1XG' 'OTSPT' 'OWHDN' 'OWWOA' 'P4057' 'P8NJ2' 'PA4A4' 'PAO10' 'PBFX4'
 'PCCFG' 'PCOAY' 'PCXAO' 'PED5E' 'PHM94' 'PM5WP' 'POXX9' 'PPOL9' 'PR3K2'
 'PR8M3' 'PWT1V' 'Q0ZTL' 'Q1FKV' 'Q2QFQ' 'Q46ZD' 'Q5811' 'Q5B7K' 'Q5FL1'
 'Q64CC' 'Q7D5W' 'Q7F8E' 'Q9080' 'QID92' 'QJS6U' 'QK03W' 'QKEZ0' 'QKK9C'
 'QOW7F' 'QPV57' 'QSW6I' 'QUHN8' 'QUHSG' 'QUP4L' 'QV6WA' 'QWUTG' 'QWXA9'
 'R12NU' 'R12T9' 'R2MY7' 'R5NLW' 'RAUB6' 'RBCOO' 'RDDA3' 'REL7W' 'REOU1'
 'RH05U' 'RHA69' 'RKNEE' 'RKV3T' 'RL7ZZ' 'RLKAF' 'RLSTS' 'ROTPV' 'RT9QG'
 'RUCNH' 'RWSY6' 'RWTS0' 'S1LZE' 'S2EA0' 'S45J0' 'S4OUA' 'S6HPR' 'S7YY8'
 'S86Q6' 'SB0QL' 'SBBK9' 'SBETW' 'SDYQV' 'SE8F5' 'SEPOH' 'SGONG' 'SGTKY'
 'SIAOM' 'SJPSA' 'SLT40' 'SNW1Q' 'SPGWJ' 'STDP1' 'SUNWC' 'SVDN5' 'SYU71'
 'T15OA' 'T1C4S' 'T2WOG' 'T4KNU' 'T6WPC' 'T7VQN' 'T8VKW' 'TA73G' 'TEB6R'
 'TEEU9' 'TFRTS' 'TGQKJ' 'TIPED' 'TJ9QA' 'TOKKK' 'TP47X' 'TQBCF' 'TSY3Y'
 'TW3HR' 'TWFLG' 'TWN42' 'TWR7A' 'TZ07X' 'TZRD8' 'U3BVS' 'U52WC' 'U7KMV'
 'UBE9D' 'UCD4N' 'UCM1M' 'UE64N' 'UFDW0' 'UHSBN' 'UIURE' 'UJ0JR' 'UJRON'
 'UL1CT' 'UM4U5' 'UN4QD' 'UO2TZ' 'UOHHV' 'UP0C4' 'UP9J3' 'UQ5U2' 'UQOHC'
 'UTJBS' 'UVDWQ' 'UY33P' 'UYJ5E' 'UZ2X4' 'UZMOT' 'UZT9Y' 'V0W2T' 'V3VEM'
 'V4QF1' 'V5E5Z' 'V6GBP' 'V777Y' 'V8UJG' 'V9BMP' 'VBLHO' 'VD3EK' 'VDAKN'
 'VE61N' 'VGYYE' 'VHVQX' 'VJGKX' 'VJWLR' 'VLLYI' 'VMP2N' 'VN117' 'VN78O'
 'VNMDR' 'VOOPY' 'VQMLC' 'VQRT9' 'VRNEF' 'VSS3I' 'VTAHP' 'VTG12' 'VURU6'
 'VWJC4' 'VXXBS' 'VXXK1' 'W1SD2' 'W3FT6' 'W6BBT' 'W7JO5' 'W9NFV' 'WA5M0'
 'WA68P' 'WA9LW' 'WB7KV' 'WBHLU' 'WD836' 'WFWE3' 'WG5H2' 'WGUGM' 'WHIWJ'
 'WJABF' 'WKXY1' 'WLX9V' 'WN3RV' 'WN68Z' 'WS2BE' 'WSE0U' 'WT6KI' 'WT9ZK'
 'WTDS3' 'WUH7W' 'WX0PH' 'WXIFA' 'WZ2BF' 'WZ38D' 'X0623' 'X1XAP' 'X2EPE'
 'X5IAM' 'X6XYS' 'X75YJ' 'X8CL0' 'XDYSO' 'XFRD3' 'XHG35' 'XJ61Q' 'XMKTR'
 'XNE9F' 'XNLY5' 'XO88N' 'XOC6T' 'XOO4L' 'XQ9RT' 'XQKDE' 'XVH3E' 'XVJMZ'
 'XZ6I0' 'Y5MNO' 'Y671O' 'YBA4D' 'YBCE0' 'YEFDW' 'YIQ4K' 'YJ7IE' 'YJT55'
 'YKZU9' 'YNKCF' 'YNURP' 'YQ752' 'YRXLN' 'YS6VC' 'YSLTB' 'YTCGY' 'YTMNI'
 'YUCI3' 'YVYIV' 'YXGZ8' 'YYRGR' 'YZAS8' 'Z3ECA' 'Z3EO2' 'Z3S2U' 'Z4YLP'
 'Z5KQD' 'Z6TMD' 'Z7EVI' 'Z8XR2' 'Z9J67' 'ZAP6F' 'ZAV8X' 'ZBWRQ' 'ZDBD4'
 'ZEQUW' 'ZEWOY' 'ZFARO' 'ZFKMC' 'ZG5S5' 'ZGL4V' 'ZHRM3' 'ZIWZ5' 'ZJ3XZ'
 'ZL1UG' 'ZLYYT' 'ZMH0P' 'ZPSR7' 'ZRCKX' 'ZTW4X' 'ZUJ45' 'ZVQP5' 'ZWWQR'
 'ZWXZ8' 'ZYM25' 'ZZS9F']

In [57]:
X_test

,신고번호,신고일자,통관지세관부호,수입거래구분코드,수입종류코드,징수형태코드,신고중량(KG),과세가격원화금액,운송수단유형코드,반입보세구역부호,HS10단위부호,관세율
67153,56458804,20200824,40,91,21,43,4718.0,1.182714e+07,40,8107003,2933399090,0.0
41771,64425212,20200521,40,96,21,43,4018.2,4.823038e+05,10,2077002,8203201000,8.0
5387,47734257,20200116,80,11,21,11,3940.7,9.204759e+05,10,2010360,6506100000,3.2
57571,95067668,20200720,12,86,21,11,1953.3,5.653528e+05,10,4077132,4601949000,0.0
1286,52721308,20200106,13,11,21,11,5285.0,1.963488e+05,40,3099999,3004909900,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
34563,54986663,20200423,140,11,21,13,6804.0,8.762021e+05,10,3078001,2204211000,0.0
13916,89653615,20200212,16,15,26,14,1111.0,2.304417e+05,30,12006008,6806102000,4.8
31758,34737796,20200413,40,11,21,14,31.7,3.159842e+03,30,2086167,4013909010,0.0
22483,29004606,20200309,40,87,21,18,15718.3,1.574912e+06,40,3070141,9025191000,0.0
87010,19393071,20201111,30,91,21,14,38.4,2.090410e+04,40,8011138,4803001000,0.0

In [117]:
y_train

       핵심적발
30792     2
88685     2
67382     2
36697     0
67014     0
...     ...
77358     0
49658     0
40977     0
28440     0
31391     0

[18503 rows x 1 columns]

In [118]:
forest = RandomForestClassifier(n_estimators=20, max_depth=10, random_state=1)
forest.fit(X_train,np.ravel(y_train))

predict = forest.predict(X_test)
print(accuracy_score(y_test,predict))

0.5283722438391699

In [119]:
predict_df = pd.DataFrame(predict)
predict_df.value_counts()

0    5541
2     504
1     123
dtype: int64

In [129]:
predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [132]:
신고번호 = X_test.iloc[:, 0]
신고번호.reset_index(drop=True, inplace=True)

li = []
for x in predict:
    if x == 0:
        li.append(0)
    else:
        li.append(1)
우범여부 = pd.DataFrame(li)
        
Result = pd.concat([신고번호, 우범여부, predict_df], axis=1)
Result.columns = ['신고번호', '우범여부', '핵심적발']
Result

          신고번호  우범여부  핵심적발
0     56458804     0     0
1     64425212     0     0
2     47734257     0     0
3     95067668     1     2
4     52721308     0     0
...        ...   ...   ...
6163  54986663     0     0
6164  89653615     1     1
6165  34737796     0     0
6166  29004606     0     0
6167  19393071     0     0

[6168 rows x 3 columns]

In [135]:
Result.to_csv('./WeHave5min.csv', encoding='utf-8', index=None)

In [10]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89619 entries, 0 to 89618
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   신고번호      89619 non-null  int64
 1   신고일자      89619 non-null  object
 2   통관지세관부호   89619 non-null  int64
 3   신고인부호     89619 non-null  object
 4   수입자부호     89619 non-null  object
 5   해외거래처부호   62966 non-null  object
 6   특송업체부호    29787 non-null  object
 7   수입통관계획코드  89619 non-null  object
 8   수입신고구분코드  89619 non-null  object
 9   수입거래구분코드  89619 non-null  int64
 10  수입종류코드    89619 non-null  int64
 11  징수형태코드    89619 non-null  int64
 12  신고중량(KG)  89619 non-null  float64
 13  과세가격원화금액  89619 non-null  float64
 14  운송수단유형코드  89619 non-null  int64
 15  반입보세구역부호  89619 non-null  int64
 16  HS10단위부호  89619 non-null  int64
 17  적출국가코드    89619 non-null  object
 18  원산지국가코드   89619 non-null  object
 19  관세율구분코드   89619 non-null  object
 20  관세율       89619 non-null  float64
 21  우범여부      89619 non-null  int64
 22  핵심적발      89619 non-null  int64
dtypes: float64(3), int64(10), object(10)
memory usage: 15.7+ MB

In [35]:
# 2. 안중요한 열 삭제(수입거래 구분코드, 신고중량(평균무게 기준으로 나눴을때),
# 통관지세관 부호, 운송수단 유형 코드,수입종류 코드 5개만 사용)

train_df2=train_df.drop(columns=['신고일자','신고인부호','수입자부호',
                                '해외거래처부호','특송업체부호','수입통관계획코드',
                                '수입신고구분코드','적출국가코드','원산지국가코드',
                                '관세율구분코드'])

train_df2

,신고번호,통관지세관부호,수입거래구분코드,수입종류코드,징수형태코드,신고중량(KG),과세가격원화금액,운송수단유형코드,반입보세구역부호,HS10단위부호,관세율,우범여부,핵심적발
0,37453,40,15,21,11,4181.6,1.207812e+04,40,4077180,4202999000,8.0,0,0
1,150339,20,15,21,11,7977.0,5.938688e+05,10,4002001,9503003919,8.0,0,0
2,55710,10,94,21,11,246.0,6.238490e+04,40,15002001,8708290000,3.2,1,2
3,413154,20,15,21,11,4435.3,4.321373e+06,10,4002001,2933699099,0.0,0,0
4,223511,40,15,21,11,4564.4,1.212105e+06,10,2002079,6205200000,13.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89614,219831,20,11,21,14,4092.0,6.750686e+05,10,2006033,3402209000,6.5,1,2
89615,53949,40,15,21,11,5098.0,7.772372e+05,10,2002079,8214200000,0.0,0,0
89616,481979,20,15,21,11,4728.2,7.519390e+05,40,4106006,3304991000,6.5,0,0
89617,265106,16,11,21,11,5236.2,9.952920e+03,10,4077009,3926909000,6.5,0,0
89618,21960,20,15,21,11,5358.6,1.490871e+07,10,4002001,6214200000,3.2,0,0

In [15]:
train_df2['신고중량(KG)'].mean()

5136.165625592787

In [36]:
is_wgt_over = train_df2['신고중량(KG)'] > train_df2['신고중량(KG)'].mean()
is_wgt_less = train_df2['신고중량(KG)'] <= train_df2['신고중량(KG)'].mean()

over_train_df2 = train_df2[is_wgt_over]
less_train_df2 = train_df2[is_wgt_less]

In [17]:
over_train_df2.head()

    통관지세관부호  수입거래구분코드  수입종류코드  징수형태코드  신고중량(KG)  운송수단유형코드  우범여부  핵심적발
1        20        15      21      11    7977.0        10     0     0
6        20        11      21      11    5968.9        10     0     0
11       20        15      21      11    5817.9        10     0     0
19       30        11      11      11    5321.7        40     0     0
20       13        15      21      11   13247.5        50     1     2

In [18]:
less_train_df2.head()

   통관지세관부호  수입거래구분코드  수입종류코드  징수형태코드  신고중량(KG)  운송수단유형코드  우범여부  핵심적발
0       40        15      21      11    4181.6        40     0     0
2       10        94      21      11     246.0        40     1     2
3       20        15      21      11    4435.3        10     0     0
4       40        15      21      11    4564.4        10     0     0
5       20        11      21      21    1963.5        10     0     0

In [37]:
# 중량 합친거

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import numpy as np

X = train_df2.iloc[:, :-2]
y = train_df2.iloc[:, -1:]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=1)

forest = RandomForestClassifier(n_estimators=20, max_depth=10, random_state=1)
forest.fit(X_train,np.ravel(y_train))

predict = forest.predict(X_test)
print(accuracy_score(y_test,predict))

0.7792010711894667

In [38]:
# 중량 나눈거 (over)

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import numpy as np

X = over_train_df2.iloc[:, :-2]
y = over_train_df2.iloc[:, -1:]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=1)

forest = RandomForestClassifier(n_estimators=20, max_depth=10, random_state=1)
forest.fit(X_train,np.ravel(y_train))

predict = forest.predict(X_test)
print(accuracy_score(y_test,predict))

0.8372177713037144

In [39]:
# 중량 나눈거 (less)

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import numpy as np

X = less_train_df2.iloc[:, :-2]
y = less_train_df2.iloc[:, -1:]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=1)

forest = RandomForestClassifier(n_estimators=20, max_depth=10, random_state=1)
forest.fit(X_train,np.ravel(y_train))

predict = forest.predict(X_test)
print(accuracy_score(y_test,predict))

0.7592526900792244

In [41]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

train_df = pd.read_csv('../data/train.csv', encoding='utf-8')
test_df = pd.read_csv('../data/test.csv', encoding='utf-8')

In [40]:
# 학습코드
df=train_df.drop(columns=['신고일자','신고인부호','수입자부호',
                        '해외거래처부호','특송업체부호','수입통관계획코드',
                        '수입신고구분코드','적출국가코드','원산지국가코드',
                        '관세율구분코드'])
is_wgt_over = df['신고중량(KG)'] > df['신고중량(KG)'].mean()
is_wgt_less = df['신고중량(KG)'] <= df['신고중량(KG)'].mean()
over_df = df[is_wgt_over]
less_df = df[is_wgt_less]

X = df.iloc[:, :-2]
y = df.iloc[:, -1:]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=1)
forest = RandomForestClassifier(n_estimators=20, max_depth=10, random_state=1)
forest.fit(X_train,np.ravel(y_train))
predict = forest.predict(X_test)
acc = accuracy_score(y_test,predict)

X = over_df.iloc[:, :-2]
y = over_df.iloc[:, -1:]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=1)
over_forest = RandomForestClassifier(n_estimators=20, max_depth=10, random_state=1)
over_forest.fit(X_train,np.ravel(y_train))
over_predict = over_forest.predict(X_test)
over_acc = accuracy_score(y_test,over_predict)

X = less_df.iloc[:, :-2]
y = less_df.iloc[:, -1:]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=1)
less_forest = RandomForestClassifier(n_estimators=20, max_depth=10, random_state=1)
less_forest.fit(X_train,np.ravel(y_train))
less_predict = less_forest.predict(X_test)
less_acc = accuracy_score(y_test,less_predict)

print(f'acc:{acc}, o_acc:{over_acc}, l_acc:{less_acc}')

acc:0.7792010711894667, o_acc:0.8372177713037144, l_acc:0.7592526900792244

In [70]:
#테스트코드
df=test_df.drop(columns=['신고일자','신고인부호','수입자부호',
                        '해외거래처부호','특송업체부호','수입통관계획코드',
                        '수입신고구분코드','적출국가코드','원산지국가코드',
                        '관세율구분코드'])
is_wgt_over = df['신고중량(KG)'] > df['신고중량(KG)'].mean()
is_wgt_less = df['신고중량(KG)'] <= df['신고중량(KG)'].mean()
over_df = df[is_wgt_over]
less_df = df[is_wgt_less]

over_predict = over_forest.predict(over_df)
less_predict = less_forest.predict(less_df)
predict = np.concatenate((over_predict,less_predict))

over_predict_df = pd.DataFrame(over_predict)
less_predict_df = pd.DataFrame(less_predict)
predict_df = pd.concat([over_predict_df, less_predict_df], axis=0)
predict_df.reset_index(drop=True, inplace=True)

over_신고번호 = over_df.iloc[:, 0]
less_신고번호 = less_df.iloc[:, 0]
신고번호 = pd.concat([over_신고번호, less_신고번호], axis=0)
신고번호.reset_index(drop=True, inplace=True)
신고번호 = pd.DataFrame(신고번호)

li = []
for x in predict:
    if x == 0:
        li.append(0)
    else:
        li.append(1)
우범여부 = pd.DataFrame(li)
Result = pd.concat([신고번호, 우범여부, predict_df], axis=1)
Result.columns = ['신고번호', '우범여부', '핵심적발']

Result

         신고번호  우범여부  핵심적발
0      828961     0     0
1      522066     0     0
2      624568     0     0
3      919935     0     0
4      595967     0     0
...       ...   ...   ...
10268  766961     0     0
10269  857321     0     0
10270  621501     1     2
10271  998367     0     0
10272  707900     0     0

[10273 rows x 3 columns]

In [71]:
#예측결과
predict_df.value_counts()

0    10178
2       63
1       32
dtype: int64

In [103]:
#인덱스 싱크 맞추기
origin_idx = list(test_df.iloc[:, 0])
before_idx = list(Result['신고번호'])

data = {}
Result_sort = pd.DataFrame(data)

for o in origin_idx:
    for b in range(len(before_idx)):
        if before_idx[b]==o:
            Result_sort = Result_sort.append({'신고번호':Result.iloc[b][0],
                                  '우범여부':Result.iloc[b][1],
                                  '핵심적발':Result.iloc[b][2]}, ignore_index=True)
            break

Result_sort

           신고번호  우범여부  핵심적발
0      982834.0   0.0   0.0
1      828961.0   0.0   0.0
2      522066.0   0.0   0.0
3      999547.0   0.0   0.0
4      919320.0   0.0   0.0
...         ...   ...   ...
10268  857321.0   0.0   0.0
10269  621501.0   1.0   2.0
10270  998367.0   0.0   0.0
10271  697376.0   0.0   0.0
10272  707900.0   0.0   0.0

[10273 rows x 3 columns]

In [105]:
Result_sort.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10273 entries, 0 to 10272
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   신고번호    10273 non-null  float64
 1   우범여부    10273 non-null  float64
 2   핵심적발    10273 non-null  float64
dtypes: float64(3)
memory usage: 240.9 KB

In [107]:
Result_sort = Result_sort.astype('int')

In [109]:
#결과 동일한지 체크
Result_sort['핵심적발'].value_counts()

0    10178
2       63
1       32
Name: 핵심적발, dtype: int64

In [110]:
Result_sort.to_csv('../WeHave5min.csv', encoding='utf-8', index=None)